button {
height: 30px;
width: 30px;
outline: none;
  }

body {
height: 250px;
width: 250px;
  }

.box1 {
height: 50px;
}

.box2 {
height: 60px;
}

#title1{
    color: #6236FF;
}
#title2{
 color:#ABABAB;
}

#num{
  position: absolute;
  left: 195px;
  bottom: 35px;
  font-size: 15px;
  color: #6236FF;
  font-weight: 600;
}

#seeAll{
  position: absolute;
  left: 10px;
  bottom: 7px;
  font-size: 10px;
  color: #6236FF;
  font-weight: 500;
}

.text{
 padding-top: 10px;
 position: absolute;
 padding-right: 100px !important;
 color: #313030;
}
.switch {
position: absolute;
left: 195px;
margin-top: 17px;
display: inline-block;
width: 37px;
height: 16px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 19px;
width: 19px;
left: 0px;
bottom: -2px;
background-color: #6236FF;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #AA92FF;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(20px);
-ms-transform: translateX(20px);
transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

hr {
box-sizing: border-box;
height: 1px;
width: 257px;
border: 0.5px solid rgba(0,0,0,0.1);
}
